
@import "../valo/valo";

@mixin myTheme{
  @include valo;
  	
  	$blue:cornflowerblue;	
  	$previous_blue:#00BFFF;
  	$blue_shadow:#00b6cd;
  	$green:#00FF00;
  	$grey: #696969;
  	$light-blue: #eaf2ff;
  	

	#base[width-range~="0-550px"]{
		height:auto;
		.manyUserLayout{
			.v-horizontallayout{
				width:100%;
			}
		}
		.responsiveFont{
			font-size: 1.0em;
		}
		#navigationBar{
			flex-direction: column;
			padding:5px;
			align-items:normal;
			max-height:80px;
			height: auto;
			transition: max-height 0.5s;
	  		.navi-item-list{
	  			display: none;
	  			flex-direction: column;
	  			order:1;
	  			.v-label{
	  				flex-direction: row;	
	  			}
	  		}
	  		.navi-search-field{
	  			margin-left:unset;
				display: none;
    			align-self: baseline;
    			padding-bottom: 5px;
    			padding-top: 5px;
			}
	  		#menuIcon{
	  			align-self: flex-end;
			    display: initial;
			    position: absolute;
			    cursor: pointer;
			    height: 50px;
	  		}
		}	
		#radioTeamSelect{
			font-size:12px;
		}
		#profileHeader{
			.v-image{
				height:100px;
			}
			.v-button{
				font-size: 12px;
			    padding-left: 10px;
			    padding-right: 10px;
			    height: 30px;
			}
		}	
		#profileBody{
			.v-textfield{
				width:100%;
				font-size:80%;
			}
		}
		#messageBase{
			display: flex;
			flex-direction: column;
			#btn-show-conv{
				display:unset !important;
			}
			#latestMessagesLayout{
				display:none;
				max-width:unset;
				overflow:unset;
				.v-csslayout{	
					display:flex;			
					text-align:center;
					.v-label{
					}
					.v-image{
						height:100%;
					}
				}
			}
			#chatLayout{
				.v-button{
					font-size:12px;
				}
				.chatMessageSent{  		
				  	max-width:80%;
			  	}
			  	.chatMessageReceived{  
			  		max-width:80%;		
			  	}
			}
		}
		.show-conversations{
			flex-direction: column-reverse !important;
			#latestMessagesLayout{
				height: 100% !important;
				display:unset !important;
				max-width:unset !important;
			}
			#chatLayout{
				display:none;
			}
		}
	}
	#base[width-range~="551px-930px"]{
		.manyUserLayout{
			.v-horizontallayout{
				width:50%;
			}
		}
		.responsiveFont{
			font-size: 1.1em;
		}
		#navigationBar {
  			.v-label:not(#username){
  				.folding{
  					display:none;
  				}
	  		}
	  		.v-icon{
				display: flex !important;
			}
		}
		#profileHeader{
			.v-image{
				height:125px;
			}
		}
		#profileBody{
			.v-textfield{
				width:100%;
			}
		}
		#messageBase{
			#latestMessagesLayout{
				width: 30%;		

			}
			#chatLayout{
				width:70%;
				.v-button{
					font-size:12px;
				}
			}
		}
	}
	#base{		
		font-family: arial;
		min-width: 300px;
		background: white;
		
		.unseenMessage{
			font-weight: bold;
			#message {
				color:black !important;
			}
			
		}
	
		.v-tabsheet-tabcontainer{
			margin-bottom: 7px;	
		}
		
		.news-box{
		 	border-left: 2px solid lightgray;
    		background: white;
    		box-shadow: 3px 1px 10px lightgray;
    		padding: 15px;
    		.news-date{
    			font-size: 0.8em;
    		}
		}
		
		.notificationSmallIcon{
			.v-icon{
				height: 20px;
				width: 20px;
			}
		}
		
		.v-panel{
			border-width: 0px;
		}
		
		.scrollablePanel{
			margin-left: -37px;
		}
		
		.v-textfield{
			//border: 1px solid;
			//border-color: $blue;
		}
		
		#messageBase{		
			display: flex;
			
			#btn-show-conv{
			 	display: none;	
			}
			
			.v-textfield{
				width:100%;
 				margin-bottom: 10px;
			}
			#latestMessagesLayout{
				max-width: 350px;
				border-color: gray;
				overflow: auto;
				.v-csslayout{	
					width:100%;
					height:55px;
					padding-left: 10px;	
					padding-right: 10px;			
					border-top: 1px solid;	
					text-align:left;
					padding-top:2px;
					padding-bottom:2px;
					color: $blue;	
					overflow:hidden;
					.v-label{
						width: 65%;
						padding-left: 5px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
					.v-label:last-child{
						width: 15%;
						padding-left:0px;
						text-align: right;
					}
					#message{
						font-size: 12px;
						color: graytext;
					}
					.v-image{
						height:80%;
					}
					.v-icon{
						font-size: 30px;
					}
				}
				.v-csslayout:last-child{
					border-bottom: 1px solid;
				}							
			}
			#chatLayout{
				height:70%;
				width: 99%;
				.v-scrollable-panel{
					margin-bottom: 10px;
					border-color: $blue;
					padding: 10px;
				}
			  	.chatMessageSent{  		
			  		text-align: left;
			  		line-height:1.2;
			  		max-width:50%;
			  		color:black;
			  		border: 1px solid $blue_shadow;
			  		background-color: $blue;
			  		border-radius:4px;
			  		.v-label{
						white-space:normal;
			  			padding-right: 1px;
			  			padding-left: 5px;
			  			padding-bottom:5px;
			  			padding-top:5px;
			  		}
			  	}
			  	
			  	.chatMessageReceived{  		
			  		text-align: left;
			  		line-height:1.2;
			  		max-width:50%;
			  		color: black;
			  		.v-image{
			  			border: 1px solid $blue_shadow;
			  			border-radius: 200px;
			  			margin-right: 10px;
			  			height:30px;
			  		}
			  		.v-label{
			  			white-space:normal;
			  			padding-left:1px;
			  			padding-right: 5px;
			  			padding-bottom:5px;
			  			padding-top:5px;
			  			background-color: $light-blue;
			  			border-radius:4px;
			  			box-shadow:1px 1px 1px $blue_shadow;
			  			border: 1px solid $blue;
			  		}
			  	}
			}	
		}
		
		.manyUserLayout{
			text-align: left;
			.v-horizontallayout{
				width:25%;
			}
		}
		
		.responsiveFont{
			font-size: 1.2em;
		}
		#navigationBar{
			text-align: left;	
			display: flex;
			align-items: center;	
			background: white;
			float:left;
			border-bottom: 1px solid lightgray;
			padding-left:10px;
			width: 100%;
			height: 100%;
			position:relative;
			box-shadow: 2px 3px 10px lightgray;
			.v-icon {
				display:none;	
			}
			.navi-person{
				display:flex;
				align-items: center;
				//border-right: 2px solid aliceblue;
				height: 100%;
				.navigationBarIcon:hover{
					border: 2px solid deepskyblue;
					border-radius: 100%;
				}
				.navigationBarIcon{
					height:50px;
				}
				#username{
					padding-right: 20px;
					padding-left: 5px;
					color: cornflowerblue;
				}
				#username:hover{
					color:deepskyblue;
				}	
			}
			.navi-item-list{
				display: flex;
				flex-direction: row;	
				height: 100%;	
				//border-left: 1px solid darkgray;	
				.v-label{			
					padding-left:10px;
					display: flex;	
					flex-direction:row;	
		    		align-items: center;
		    		height: 100%;
					color:black;
					padding-right:10px;
					transition: all 0.5s;
					//border-right: 1px solid darkgray;
				}
				.v-label:hover{
					font-size:17px;
					color:white;
					//border-bottom: 3px solid deepskyblue;	
					background: $blue;
				}
			}
			.navi-search-field{
				margin-left:auto;
				.v-button{
					margin-right:10px
				}
				.v-textfield{
					margin-left:auto;
					width:150px;
				}
			}
			#menuIcon{
	  			display:none;
	  		}
	  	
	  		.folding{
	  			margin-left: 0px !important;
	  		}
		}
		
		#profileHeader{
	  		text-align: center;
	  		width:100%;
	  		border: 2px solid $blue;
	  		background-color: $light-blue;
	  		border-radius:4px;
	  		box-shadow:3px 3px 3px $blue_shadow;
	  		border:1px outset $blue;
	  		padding-bottom: 2px;
	  		.v-image{
	  			height:150px;
	  		}
	  		.v-label{
	  			text-align: center;
	  			margin: 1px;
	  		}
	  		.v-button{
	  			height:50%;
	  		}
	  	}
	  	#profileBody{
	  		padding:10px;
			.v-textfield{
				width:50%;
			}
		}
	}
	.hoverGreenLayouts{
		.v-layout:hover{
			border: 1px solid $green;
  			border-radius:10px;
  			box-shadow:2px 2px 2px $green;
		}
	}
	.greenHighlight{
		font-size:20px;
		padding-top:18px;
		color:white;
		background-color: $green;	
	}
	

  	#viewDisplay{
  		border-top: 1px solid lightgray !important;
  		box-shadow: 1px 2px 10px lightgrey;
  		.v-panel{
  			//border: 1px solid;
    		//border-radius: 5px;
    		//border-color: cadetblue;
  		}
	}

  	#sideMenu{
  		width:15%;
  	}
  	#workingSpace{
  		width:85%;
  	}
  	
    .bordered{
  		border:1px solid $blue;
  	}
  
  	.borderedImage{
  		border: 1px solid cornflowerblue;
  		border-radius:200px;
  	}
  
  	.blueText{
  		color: cornflowerblue;
  	}
  
  	.thickBordered{
  		border: 2px solid $blue;
  		border-radius:10px;
  		box-shadow:-2px -2px 20px -2px $blue_shadow;
  	}
  	
  	.borderedGreen{
  		border: 2px solid $green !important;
  	}
  	
  	.workingSpace{
  		background-color: $blue;
  		border: 2px solid $blue;
  		border-radius:10px;
  		box-shadow:-2px -2px 20px -2px $blue_shadow;
  	}
  
  	.sideMenu{
  		background-color:$blue;
  		border:1px outset $blue;
  		border-radius:4px;
  		box-shadow:3px 3px 3px $blue_shadow;
  	}
  	
  	.sideHeader{
  		background-color:$grey;
  		border:4px solid $blue;
  		border-style: inset;
  		
  	}
  
  	.wrongField{
  		border:2px solid red;
  			
  	}
  	
  	.blueTextH1{
  		color: $blue;
  		display: block;
	    font-size: 2em;
	    margin-top: 0.67em;
	    margin-bottom: 0.67em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;	
  	}
  
  	.blueTextH3{
  		color: $blue;
  		display: block;
	    font-size: 1.17em;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	    font-weight: bold;	
  	}
  	
  	.showLabelUserList{
		.v-csslayout{
			.v-label{
				display:relative;
			}
		}
	}
	.greenicon .v-icon {
    	color: $green;
	}
	.whiteicon .v-icon {
    	color: white;
	}

	.justifiedLabel {
		text-align: justify;	
	}

	.hidden {
		display:none;
	}  

	.show-dropdown{
		max-height:250px !important;
		.navi-item-list{
			display: flex !important;
		}
		.navi-search-field{
			display: flex !important;
		}
	}


}
