.settings
.classpath
.project
.tern-project

target/

widgetsets
AppWidgetset
images
/src/main/webapp/VAADIN/hu.mik.gwt.SocialWidgetset
/src/main/webapp/VAADIN/WEB-INF/deploy/hu.mik.gwt.SocialWidgetset/rpcPolicyManifest
